<div class="example-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Fill your details to Login!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogin()"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      &nbsp;
      <small
        >Don't have an account? Click <a [routerLink]="'/register'">here</a> to
        Register.</small
      >
    </mat-card-actions>
  </mat-card>
</div>
